body, html {
    margin: 0;
    padding:0;
    height: 100vh
}

.parallax {     
    background-image: url(img/penn.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#all-content-top {
      background-color: rgba(255, 255, 255, 0.6);
      margin-top: 33%;
      margin-bottom: 2%;
}

#all-content {
      background-color: rgba(255, 255, 255, 0.6);
      margin-bottom: 2%;
}

.btn:focus {
    outline: none ! important;
    box-shadow: none;
}

.jumbotron {
    margin-top: 29%;
}

.classes {
    list-style: none;
    padding: 10px;
}

.main-footer {
    background-color: rgba(255, 255, 255, 0.6);
}

.main-footer>p {
    color: #000;
}